<div class="main-outer">
  <h2 class="topic">Inquiries</h2>
  <div class="container">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false" *ngFor="let srd of serviceReqDetails">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{srd?.jobType}}
          </mat-panel-title>
          <mat-panel-description>
            {{srd?.name}} {{srd?.name2}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="expand-outer">
          <p><span class="type">Email</span> : {{srd?.email}}</p>
          <p><span class="type">Contact</span> : {{srd?.mobile}}</p>
          <button class="review-button" mat-raised-button (click)="reviewPopUp(srd?.id)">Make a review</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
