<div class="reason-to-choose">
  <div class="container">
    <h3 class="reason-to-choose-topic">Reasons to choose HOMECARE</h3>
    <div class="reason-to-choose-inner row">
      <div class="reason-to-choose-left col-12 col-lg-6">
        <div class="reason-to-choose-left-img-outer">
          <img src="https://github.com/Mr-Kaviya99/HomeCare/blob/master/img/Second_Image.png?raw=true" alt="">
        </div>
      </div>
      <div class="reason-to-choose-right col-12 col-lg-6">
        <ul class="reason-to-choose-ul">
          <li class="reason-to-choose-li">Online reservations are available whenever and wherever you are.</li>
          <li class="reason-to-choose-li">You can choose any licenced trades person</li>
          <li class="reason-to-choose-li">You can choose the expert that is closest to you.</li>
          <li class="reason-to-choose-li">You can check their profiles and prices.</li>
          <li class="reason-to-choose-li">Change or cancellation in a matter of seconds.</li>
          <li class="reason-to-choose-li">Vetted, skilled tradespeople</li>
          <li class="reason-to-choose-li">Reliable, consistent service</li>
        </ul>
      </div>
    </div>
  </div>
</div>
