<div class="main-outer">
  <div class="row-set row">
    <div class="inner col-12 col-sm-12 col-md-3 col-xl-3 col-lg-3">
      <div class="data-outer">
        <div class="icon-outer">
          <mat-icon class="icon-image">pin_drop</mat-icon>
        </div>
        <h2 class="title">Location</h2>
        <div class="content-outer">
          <p class="desc">
            34, Kingsley Road, Ilford, United Kingdom, IG6 2LL
          </p>
        </div>
      </div>
    </div>
    <div class="inner col-12 col-sm-12 col-md-3 col-xl-3 col-lg-3">
      <div class="data-outer">
        <div class="icon-outer">
          <mat-icon class="icon-image">phone_in_talk</mat-icon>
        </div>
        <h2 class="title">Phone</h2>
        <div class="content-outer">
          <p class="desc">
            +44 725384800
          </p>
        </div>
      </div>
    </div>
    <div class="inner col-12 col-sm-12 col-md-3 col-xl-3 col-lg-3">
      <div class="data-outer">
        <div class="icon-outer">
          <mat-icon class="icon-image">mail</mat-icon>
        </div>
        <h2 class="title">Email</h2>
        <div class="content-outer">
          <p class="desc">
            homecareservices@gmail.com
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
