<div class="how-it-works">
  <div class="container">
    <h3 class="how-it-works-topic">How it works?</h3>
    <div class="how-it-works-content-row row">
      <div class="col-12 col-sm-4 how-it-works-content-col">
        <div class="how-it-works-col-top">
          <div class="how-it-works-col-top-left">
            <div class="icon"></div>
          </div>
          <div class="how-it-works-col-top-right">
            <p class="how-it-works-col-top-step">Step 1</p>
          </div>
        </div>
        <div class="how-it-works-col-bottom">
          <p class="how-it-works-col-bottom-desc">Choose a service that you require.</p>
        </div>
      </div>
      <div class="col-12 col-sm-4 how-it-works-content-col">
        <div class="how-it-works-col-top">
          <div class="how-it-works-col-top-left">
            <div class="icon"></div>
          </div>
          <div class="how-it-works-col-top-right">
            <p class="how-it-works-col-top-step">Step 2</p>
          </div>
        </div>
        <div class="how-it-works-col-bottom">
          <p class="how-it-works-col-bottom-desc">We'll locate the closest experts for you.</p>
        </div>
      </div>
      <div class="col-12 col-sm-4 how-it-works-content-col">
        <div class="how-it-works-col-top">
          <div class="how-it-works-col-top-left">
            <div class="icon"></div>
          </div>
          <div class="how-it-works-col-top-right">
            <p class="how-it-works-col-top-step">Step 3</p>
          </div>
        </div>
        <div class="how-it-works-col-bottom">
          <p class="how-it-works-col-bottom-desc">You are free to hire any professional that you choose, whenever you
            want.</p>
        </div>
      </div>
    </div>
  </div>

</div>
