<div class="contact-main-outer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-xl-6 col-lg-6 map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d619.592472902224!2d0.08283664514474258!3d51.59811079055476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a6ad430ad067%3A0x336339e014b138ac!2s34%20Kingsley%20Rd%2C%20Ilford%20IG6%202LL%2C%20UK!5e0!3m2!1sen!2slk!4v1681311745527!5m2!1sen!2slk"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-xl-6 col-lg-6 content">
        <form>
          <div class="row test">
            <div class="col-12">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Enter message</mat-label>
                <textarea type="text" matInput rows="6" name="message" required></textarea>
              </mat-form-field>
            </div>
            <div class="col-12 col-sm-6">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Enter Your Name</mat-label>
                <input type="text" matInput name="name" required>
              </mat-form-field>
            </div>
            <div class="col-12 col-sm-6">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" matInput name="email" required>
              </mat-form-field>
            </div>
            <div class="col-12">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Enter Subject</mat-label>
                <input type="text" matInput name="subject" required>
              </mat-form-field>
            </div>
            <div class="col-auto">
              <button mat-flat-button class="submit-btn" type="submit">SEND</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
