<div class="about-description">
  <div class="container">
    <p class="para">Homecare is a location-based online platform that lets users hire the most nearby, reputable, and qualified experts. Customers can book any professional after examining their profiles in their own space.</p>

    <p class="para">Additionally, experts with years of experience who want to work with clients can join Homecare by setting up a profile on their own.</p>

    <p class="para">Homecare is a system that brings all the experts together in one place to assist the general public in completing their household tasks.</p>

    <div class="about-image-outer">
      <div class="about-image">
        <img src="https://github.com/Mr-Kaviya99/HomeCare/blob/master/img/About_Image.jpg?raw=true" alt=""
             class="image">
      </div>
    </div>
  </div>
</div>
