<div class="create-complaint">
  <div class="wrapper">
    <mat-icon class="close-icon" (click)="close()">close</mat-icon>
    <h2>Any Complaint?</h2>
    <div id="error_message_complaint"></div>
    <form action="" [formGroup]="complaintForm" #f="ngForm">
      <div class="input_field">
        <mat-form-field class="example-full-width">
          <mat-label>Job Type</mat-label>
          <mat-select formControlName="jobType" (selectionChange)="loadTradePersonByJobType($event)">
            <mat-option *ngFor="let jt of allJobTypes" [value]="jt?.id">{{jt?.jobType}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="input_field">
        <mat-form-field class="example-full-width">
          <mat-label>Trade Person</mat-label>
          <mat-select formControlName="tradePerson">
            <mat-option *ngFor="let tp of tradePerson" [value]="tp?.tradepersonId">{{tp?.tradePersonName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="input_field">
        <mat-form-field class="example-full-width">
          <mat-label>Complaint</mat-label>
          <textarea matInput placeholder="Your Complaint" id="yourComplaint"></textarea>
        </mat-form-field>
      </div>
      <div class="btn">
        <button mat-raised-button (click)="submitComplaint();">Submit</button>
      </div>
    </form>
  </div>
</div>
