
.user-profile-main-slider {
  width: 100%;
  height: 724px;
  background: url("https://github.com/Mr-Kaviya99/HomeCare/blob/master/img/Tradesperson_Landing_Page.png?raw=true") center no-repeat;
  background-size: cover;
}

.slider-topic-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.slider-topic {
  font-weight: 500;
  font-size: 40px;
  margin: 0;
}
