<div class="main-slider">
  <div class="container">
    <div class="content row">
      <div class="slider-left col-12 col-lg-6">
        <h2 class="slider-header">Clean Home Professional Service Fair Price</h2>
        <p class="slider-description">A location-based online platform for hiring home service providers</p>
        <div class="button-get-started">
          <button mat-flat-button routerLink="/security/signup">Get Started</button>
        </div>
      </div>
      <div class="slider-right col-12 col-lg-6">
        <div class="slider-right-img-outer">
          <img src="https://github.com/Mr-Kaviya99/HomeCare/blob/master/img/Landing_Page_Image.png?raw=true" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
