<div class="main-outer">
  <div class="outer">
    <div class="header">
      <div class="header-text">
        Personal Details
      </div>
      <div class="navigations">
        <mat-icon (click)="editPersonalDetails()">edit</mat-icon>
      </div>
    </div>
    <div class="contain">
      <div class="data-inner">
        <p class="text-q">First Name</p>
        <p class="text-a">{{user?.name}}</p>
      </div>
      <div class="data-inner">
        <p class="text-q">Last Name </p>
        <p class="text-a">{{user?.name2}}</p>
      </div>
      <div class="data-inner">
        <p class="text-q">Email</p>
        <p class="text-a">{{user?.email}}</p>
      </div>
      <div class="data-inner">
        <p class="text-q">NIC</p>
        <p class="text-a">{{userTradePersonDetails?.nic}}</p>
      </div>
      <div class="data-inner">
        <p class="text-q">Gender</p>
        <p class="text-a">{{userTradePersonDetails?.gender}}</p>
      </div>
      <div class="data-inner">
        <p class="text-q">Longitude</p>
        <p class="text-a">{{userTradePersonDetails?.longitude}}</p>
      </div>
      <div class="data-inner">
        <p class="text-q">Latitude</p>
        <p class="text-a">{{userTradePersonDetails?.latitude}}</p>
      </div>
    </div>
  </div>
</div>
