<div class="main-outer">
  <div class="table-outer">
    <table class="table">
      <thead>
      <tr>
        <td><b>User Name</b></td>
        <td><b>Star count</b></td>
        <td><b>message</b></td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let slide of slidesStore">
        <td class="table-col">
          <div class="td-inner">
            {{slide?.name}} {{slide?.name2}}
          </div>
        </td>
        <td class="table-col">
          <div class="td-inner">
            <ngb-rating [max]="5" [readonly]="true" [rate]="slide?.starCount" class="star"></ngb-rating>
          </div>
        </td>
        <td class="table-col">
          <div class="td-inner">
            {{slide?.comment}}
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
