<div class="main-outer">
  <div class="table-outer">
    <table class="table">
      <thead>
      <tr>
        <td><b>Job Type</b></td>
        <td><b>Trade Person</b></td>
        <td><b>Complaint</b></td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let tpc of tradePersonComplaints">
        <td class="table-col">
          <div class="td-inner">
            {{tpc?.jobType}}
          </div>
        </td>
        <td class="table-col">
          <div class="td-inner">
            {{tpc?.name}} {{tpc?.name2}}
          </div>
        </td>
        <td class="table-col">
          <div class="td-inner">
            {{tpc?.complaint}}
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
