<div class="main-outer">
  <div class="table-outer">
    <table class="table">
      <thead>
      <tr>
        <td><b>Job Type</b></td>
        <td><b>Trade Person</b></td>
        <td><b>Response</b></td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="table-col">
          <div class="td-inner">
            bla
          </div>
        </td>
        <td class="table-col">
          <div class="td-inner">
            bla
          </div>
        </td>
        <td class="table-col">
          <div class="td-inner">
            bla
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
