<div class="main-outer">
  <div class="slider-text-group">
    <h1 class="header-text">Create Your Profile Today</h1>
    <p class="desc">
      Here, we can explain this topic through three basic issues. The first thing is that this is very important for
      absolute beginners, because here is a way to develop their little knowledge properly.
    </p>
  </div>

  <div class="shadow"></div>
</div>

<div class="profile-btn-outer">
  <h4>Please sign up with Trade Person account</h4>
  <button class="profile-btn" mat-flat-button routerLink="/trade-person/registration">Sign Up as Trade Person
  </button>
</div>
