<div class="main-outer">
  <div class="table-outer">
    <table class="table">
      <thead>
      <tr>
        <td><b>Job Type</b></td>
        <td><b>User Name</b></td>
        <td><b>User email</b></td>
        <td><b>User contact</b></td>
        <!--        <td><b>Response</b></td>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let srd of serviceReqDetails">
        <td class="table-col">
          <div class="td-inner">
            {{srd?.jobType}}
          </div>
        </td>
        <td class="table-col">
          <div class="td-inner">
            {{srd?.name}} {{srd?.name2}}
          </div>
        </td>
        <td class="table-col">
          <div class="td-inner">
            {{srd?.email}}
          </div>
        </td>
        <td class="table-col">
          <div class="td-inner">
            {{srd?.mobile}}
          </div>
        </td>
        <!--        <td class="table-col">-->
        <!--          <div class="td-inner">-->
        <!--            <button mat-raised-button class="button accept">Accept</button>-->
        <!--            <button mat-raised-button class="button reject">Reject</button>-->
        <!--          </div>-->
        <!--        </td>-->
      </tr>
      </tbody>
    </table>
  </div>
</div>
