.create-complaint {
  display: flex;
  justify-content: center;
}

.wrapper {
  border: 1px solid rgba(128, 128, 128, 0.5);
  max-width: 350px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgba(238, 67, 87, 0.2);
  position: relative;
}

.close-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  color: var(--danger-color);
  font-size: 24px;
}

.wrapper h2 {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
}

.wrapper .input_field {
  margin-bottom: 10px;
}

.input_field {
  label {
    font-size: 14px;
    color: #7f8c8d;
  }
}

.btn input[type="submit"] {
  border: 0;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: #fe8b8e;
  color: #332902;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

#error_message_complaint {
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

.btn {
  width: 100%;
  padding: 0 !important;

  button {
    width: 100%;
    background-color: var(--orange-color);
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
}

.example-full-width {
  width: 100%;
}

.label {
  display: block;
}

.stars {
  margin-top: 10px;
  color: #ff1133;
  font-size: 35px;
}
