<div class="footer">
  <div class="container">
    <div class="footer-inner row">
      <div class="col-12 col-sm-6 col-md-4">
        <h3 class="footer-logo">HOMECARE</h3>
        <p class="footer-desc">A location-based online platform for hiring home service providers</p>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="footer-ul-outer">
          <ul class="footer-ul">
            <li class="footer-li">ABOUT</li>
            <li class="footer-li">SERVICES</li>
            <li class="footer-li">FAQ</li>
            <li class="footer-li">CONTACT</li>
            <li class="footer-li">COMPLAINTS</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="subscription">
          <h3 class="subscribe">Subscribe</h3>
          <input type="email" class="email-input" placeholder="Enter email">
          <p class="subscription-desc">Join our newsletter to stay up to date on features and releases</p>
        </div>
      </div>
    </div>
  </div>
</div>
