<div class="footer">
  <div class="container">
    <div class="footer-inner row">
      <div class="col-12 col-sm-6 col-md-4">
        <h3 class="footer-logo">HOMECARE</h3>
        <p class="footer-desc">A location-based online platform for hiring home service providers</p>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="footer-ul-outer">
          <ul class="footer-ul">
            <li class="footer-li" routerLink="/console/home">HOME</li>
            <li class="footer-li" routerLink="/console/about">ABOUT</li>
            <li class="footer-li" routerLink="/console/service">SERVICES</li>
            <li class="footer-li" routerLink="/console/faq">FAQ</li>
            <li class="footer-li" routerLink="/console/contact">CONTACT</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="subscription">
          <p class="subscription-desc">Join our newsletter to stay up to date on features and releases</p>
        </div>
      </div>
    </div>
  </div>
</div>
