.faq-description {
  margin-top: 100px;
  margin-bottom: 50px;
}

.heading {
  font-size: 20px;
  text-align: center;
}

.panel-outer {
  margin-top: 50px;
  padding: 20px;
  background-color: var(--light-gray-color);
  border-radius: 5px;
}
