<div class="faq-description">
  <div class="container">
    <h2 class="heading">Frequently Asked Questions with Answers Clear all of your doubts over here !</h2>
    <div class="panel-outer">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Is there a minimum contract length?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>No, since we know you'll adore the service! You can change or cancel one or all of your cleans in your
            online
            account at any time up to 18:00 the day before without being charged.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              How does the pricing work?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>No, since we know you'll adore the service! You can change or cancel one or all of your cleans in your
            online
            account at any time up to 18:00 the day before without being charged.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              What happens if the trades person doesn't arrive?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>No, since we know you'll adore the service! You can change or cancel one or all of your cleans in your
            online
            account at any time up to 18:00 the day before without being charged.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              How to book a trades person?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>No, since we know you'll adore the service! You can change or cancel one or all of your cleans in your
            online
            account at any time up to 18:00 the day before without being charged.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              How to cancel a booking?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>No, since we know you'll adore the service! You can change or cancel one or all of your cleans in your
            online
            account at any time up to 18:00 the day before without being charged.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              How to create an account?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>No, since we know you'll adore the service! You can change or cancel one or all of your cleans in your
            online
            account at any time up to 18:00 the day before without being charged.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Where can I watch?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>No, since we know you'll adore the service! You can change or cancel one or all of your cleans in your
            online
            account at any time up to 18:00 the day before without being charged.</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

</div>
